### Mac OS X ###
.DS_Store
### Python ###
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt


### PyCharm ###
# PyCharm
# http://www.jetbrains.com/pycharm/webhelp/project.html
.idea
.iml

### SASS ###
### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache