<div id="login-form-wrapper">
    <div class="form-part">
        <label for="username" class="form-field-label">Username</label>
        <input type="text" id="username"/>
    </div>
    <div class="form-part">
        <label for="password" class="form-field-label">Password</label>
        <input type="password" id="password"/>
    </div>
    <div class="form-part">
        <button id="login-button" class="primary-button">Login</button>
    </div>
    <div class="form-part">
        <button id="signup-button" class="secondary-button">Sign Up</button>
    </div>
</div>
















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































